Package: com.patsluth.swacapella
Name: Acapella
Depends: firmware (>= 7.1), firmware (<= 8.1.1), mobilesubstrate, preferenceloader, jp.ashikase.libpackageinfo, com.patsluth.libsw, applist, com.bushe.lockscreengesturecleanup
Conflicts:com.patsluth.swgesturemusiccontrols, org.thebigboss.gesturemusiccontrols
Architecture: iphoneos-arm
Description: Elegant, gesture based enhancements to the default iOS Music controls.
Maintainer: Pat Sluth
Author: Pat Sluth
Section: Tweaks
Icon: file:///Library/Application Support/AcapellaSupport.bundle/Icon.png
Version: 1.0-13
Installed-Size: 1508
