Package: com.patsluth.swacapella
Name: Acapella
Depends: firmware (>= 7.1), firmware (<= 8.1), mobilesubstrate, jp.ashikase.libpackageinfo, com.patsluth.libsw
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Pat Sluth
Author: Pat Sluth
Section: Tweaks
Version: 0.0.1-160
Installed-Size: 672
