<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AcapellaTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E75956919FD49F500001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E75957419FD49F500001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E75959E19FDA20000001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7595B619FDA20100001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7595D519FDC91300001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E7595ED19FDC91300001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E75960B19FDCBDB00001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E75962319FDCBDB00001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E75963519FDCCA600001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E75964D19FDCCA600001BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
