<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Transport Controls</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_heart_enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Heart</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_skipprevious_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Skip Previous</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_play/pause_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Play/Pause</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_skipnext_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Skip Next</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_presentupnext_enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Present Up Next</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_share_enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Share</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_shuffle_enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Shuffle</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_repeat_enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Repeat</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transport_contextual_enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Contextual</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
	</array>
</dict>
</plist>
