<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auxo_enabled</key>
	<string>valuebitch</string>
	<key>auxo_gestures_presscentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_presscentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_presscentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_presscentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_presscentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_presscentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_pressright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swipeleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swipeleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swipeleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swipeleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swipeleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swipeleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swiperight_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swiperight_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swiperight_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swiperight_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swiperight_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_swiperight_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapcentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapcentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapcentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapcentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapcentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapcentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>auxo_gestures_tapright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>auxo_progressSlider_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_contextual_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_heart_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_intervalforward_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_intervalrewind_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_nextTrack_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_play/pause_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_presentupnext_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_previoustrack_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_repeat_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_share_enabled</key>
	<string>valuebitch</string>
	<key>auxo_transport_shuffle_enabled</key>
	<string>valuebitch</string>
	<key>auxo_volumeSlider_enabled</key>
	<string>valuebitch</string>
	<key>cc_enabled</key>
	<string>valuebitch</string>
	<key>cc_gestures_presscentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_presscentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_presscentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_presscentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_presscentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_presscentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_pressright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_swipeleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_swipeleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_swipeleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_swipeleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_swipeleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_swipeleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_swiperight_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_swiperight_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_swiperight_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_swiperight_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_swiperight_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_swiperight_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapcentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapcentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapcentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapcentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapcentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapcentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>cc_gestures_tapright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>cc_progressSlider_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_contextual_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_heart_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_intervalforward_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_intervalrewind_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_nextTrack_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_play/pause_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_presentupnext_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_previoustrack_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_repeat_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_share_enabled</key>
	<string>valuebitch</string>
	<key>cc_transport_shuffle_enabled</key>
	<string>valuebitch</string>
	<key>cc_volumeSlider_enabled</key>
	<string>valuebitch</string>
	<key>ls_enabled</key>
	<string>valuebitch</string>
	<key>ls_gestures_presscentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_presscentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_presscentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_presscentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_presscentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_presscentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_pressright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_swipeleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_swipeleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_swipeleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_swipeleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_swipeleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_swipeleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_swiperight_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_swiperight_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_swiperight_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_swiperight_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_swiperight_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_swiperight_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapcentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapcentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapcentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapcentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapcentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapcentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ls_gestures_tapright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ls_progressSlider_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_contextual_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_heart_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_intervalforward_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_intervalrewind_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_nextTrack_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_play/pause_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_presentupnext_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_previoustrack_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_repeat_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_share_enabled</key>
	<string>valuebitch</string>
	<key>ls_transport_shuffle_enabled</key>
	<string>valuebitch</string>
	<key>ls_volumeSlider_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_presscentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_presscentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_presscentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_presscentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_presscentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_presscentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_pressright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swipeleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swipeleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swipeleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swipeleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swipeleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swipeleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swiperight_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swiperight_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swiperight_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swiperight_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swiperight_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_swiperight_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapcentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapcentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapcentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapcentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapcentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapcentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_mini_gestures_tapright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_mini_progressSlider_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_contextual_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_heart_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_intervalforward_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_intervalrewind_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_nextTrack_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_play/pause_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_presentupnext_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_previoustrack_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_repeat_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_share_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_transport_shuffle_enabled</key>
	<string>valuebitch</string>
	<key>ma_mini_volumeSlider_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_presscentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_presscentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_presscentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_presscentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_presscentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_presscentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_pressright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swipeleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swipeleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swipeleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swipeleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swipeleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swipeleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swiperight_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swiperight_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swiperight_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swiperight_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swiperight_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_swiperight_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapcentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapcentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapcentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapcentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapcentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapcentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_gestures_tapright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_progressSlider_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_contextual_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_heart_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_intervalforward_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_intervalrewind_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_nextTrack_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_play/pause_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_presentupnext_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_previoustrack_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_repeat_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_share_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_transport_shuffle_enabled</key>
	<string>valuebitch</string>
	<key>ma_nowplaying_volumeSlider_enabled</key>
	<string>valuebitch</string>
	<key>otm_enabled</key>
	<string>valuebitch</string>
	<key>otm_gestures_presscentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_presscentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_presscentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_presscentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_presscentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_presscentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_pressright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_swipeleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_swipeleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_swipeleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_swipeleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_swipeleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_swipeleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_swiperight_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_swiperight_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_swiperight_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_swiperight_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_swiperight_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_swiperight_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapcentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapcentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapcentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapcentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapcentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapcentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>otm_gestures_tapright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>otm_progressSlider_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_contextual_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_heart_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_intervalforward_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_intervalrewind_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_nextTrack_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_play/pause_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_presentupnext_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_previoustrack_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_repeat_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_share_enabled</key>
	<string>valuebitch</string>
	<key>otm_transport_shuffle_enabled</key>
	<string>valuebitch</string>
	<key>otm_volumeSlider_enabled</key>
	<string>valuebitch</string>
	<key>vertex_enabled</key>
	<string>valuebitch</string>
	<key>vertex_gestures_presscentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_presscentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_presscentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_presscentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_presscentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_presscentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_pressright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swipeleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swipeleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swipeleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swipeleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swipeleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swipeleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swiperight_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swiperight_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swiperight_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swiperight_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swiperight_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_swiperight_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapcentre_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapcentre_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapcentre_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapcentre_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapcentre_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapcentre_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapleft_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapleft_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapleft_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapleft_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapleft_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapleft_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapright_onefinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapright_onefinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapright_onefinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapright_twofinger_forcenone</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapright_twofinger_forcepeek</key>
	<string>valuebitch</string>
	<key>vertex_gestures_tapright_twofinger_forcepop</key>
	<string>valuebitch</string>
	<key>vertex_progressSlider_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_contextual_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_heart_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_intervalforward_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_intervalrewind_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_nextTrack_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_play/pause_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_presentupnext_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_previoustrack_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_repeat_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_share_enabled</key>
	<string>valuebitch</string>
	<key>vertex_transport_shuffle_enabled</key>
	<string>valuebitch</string>
	<key>vertex_volumeSlider_enabled</key>
	<string>valuebitch</string>
</dict>
</plist>
