<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Gestures</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAcapellaPSListItemsController_Actions</string>
			<key>titlesDataSource</key>
			<string>actionTitles:</string>
			<key>valuesDataSource</key>
			<string>actionValues:</string>
			<key>key</key>
			<string>tapleft</string>
			<key>defaultActionValuesForBaseKey</key>
			<dict>
				<key>ma_mini_gestures_</key>
				<string>action_playpause</string>
			</dict>
			<key>default</key>
			<string>action_decreasevolume</string>
			<key>label</key>
			<string>Left</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAcapellaPSListItemsController_Actions</string>
			<key>titlesDataSource</key>
			<string>actionTitles:</string>
			<key>valuesDataSource</key>
			<string>actionValues:</string>
			<key>key</key>
			<string>tapcentre</string>
			<key>default</key>
			<string>action_playpause</string>
			<key>label</key>
			<string>Centre</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAcapellaPSListItemsController_Actions</string>
			<key>titlesDataSource</key>
			<string>actionTitles:</string>
			<key>valuesDataSource</key>
			<string>actionValues:</string>
			<key>key</key>
			<string>tapright</string>
			<key>defaultActionValuesForBaseKey</key>
			<dict>
				<key>ma_mini_gestures_</key>
				<string>action_playpause</string>
			</dict>
			<key>default</key>
			<string>action_increasevolume</string>
			<key>label</key>
			<string>Right</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
	</array>
</dict>
</plist>
