<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Gestures</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>GestureType</string>
			<key>set</key>
			<string>setGestureType:</string>
			<key>default</key>
			<string>Tap</string>
			<key>invalidActionValuesForBaseKey</key>
			<dict>
				<key>cc_gestures_</key>
				<array>
					<string>action_upnext</string>
					<string>action_toggleshuffle</string>
					<string>action_togglerepeat</string>
					<string>action_contextual</string>
					<string>action_showratings</string>
				</array>
				<key>ls_gestures_</key>
				<array>
					<string>action_upnext</string>
					<string>action_toggleshuffle</string>
					<string>action_togglerepeat</string>
					<string>action_contextual</string>
					<string>action_showratings</string>
					<string>action_equalizereverywhere</string>
				</array>
				<key>ma_nowplaying_gestures_</key>
				<array>
					<string>action_openapp</string>
					<string>action_equalizereverywhere</string>
				</array>
				<key>ma_mini_gestures_</key>
				<array>
					<string>action_heart</string>
					<string>action_share</string>
					<string>action_toggleshuffle</string>
					<string>action_togglerepeat</string>
					<string>action_openapp</string>
					<string>action_showratings</string>
					<string>action_increasevolume</string>
					<string>action_decreasevolume</string>
					<string>action_equalizereverywhere</string>
				</array>
				<key>otm_gestures_</key>
				<array>
					<string>action_upnext</string>
					<string>action_toggleshuffle</string>
					<string>action_togglerepeat</string>
					<string>action_contextual</string>
					<string>action_showratings</string>
					<string>action_equalizereverywhere</string>
				</array>
				<key>auxo_gestures_</key>
				<array>
					<string>action_upnext</string>
					<string>action_toggleshuffle</string>
					<string>action_togglerepeat</string>
					<string>action_contextual</string>
					<string>action_showratings</string>
					<string>action_equalizereverywhere</string>
				</array>
				<key>vertex_gestures_</key>
				<array>
					<string>action_upnext</string>
					<string>action_toggleshuffle</string>
					<string>action_togglerepeat</string>
					<string>action_contextual</string>
					<string>action_showratings</string>
					<string>action_equalizereverywhere</string>
				</array>
			</dict>
			<key>validTitles</key>
			<array>
				<string>Tap</string>
				<string>Swipe</string>
				<string>Press</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Tap</string>
				<string>Swipe</string>
				<string>Press</string>
			</array>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
	</array>
</dict>
</plist>
