<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabled</key>
	<true/>
	<key>gestures</key>
	<dict>
		<key>tap</key>
		<dict>
			<key>left1</key>
			<string>action_decreasevolume</string>
			<key>centre1</key>
			<string>action_playpause</string>
			<key>right1</key>
			<string>action_increasevolume</string>
			<key>left2</key>
			<string>action_none</string>
			<key>centre2</key>
			<string>action_none</string>
			<key>right2</key>
			<string>action_none</string>
		</dict>
		<key>swipe</key>
		<dict>
			<key>left1</key>
			<string>action_nexttrack</string>
			<key>right1</key>
			<string>action_previoustrack</string>
			<key>left2</key>
			<string>action_none</string>
			<key>right2</key>
			<string>action_none</string>
		</dict>
		<key>press</key>
		<dict>
			<key>left1</key>
			<string>action_intervalrewind</string>
			<key>centre1</key>
			<string>action_none</string>
			<key>right1</key>
			<string>action_intervalforward</string>
			<key>left2</key>
			<string>action_none</string>
			<key>centre2</key>
			<string>action_none</string>
			<key>right2</key>
			<string>action_none</string>
		</dict>
	</dict>
	<key>progressSlider</key>
	<true/>
	<key>transport</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>heart</string>
			<key>label</key>
			<string>Heart</string>
			<key>icon</key>
			<string>Heart</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>previoustrack</string>
			<key>label</key>
			<string>Previous Track</string>
			<key>icon</key>
			<string>PreviousTrack</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>intervalrewind</string>
			<key>label</key>
			<string>Interval Rewind</string>
			<key>icon</key>
			<string>IntervalRewind</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>playpause</string>
			<key>label</key>
			<string>Play/Pause</string>
			<key>icon</key>
			<string>Play</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>nexttrack</string>
			<key>label</key>
			<string>Next Track</string>
			<key>icon</key>
			<string>NextTrack</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<string>intervalforward</string>
			<key>label</key>
			<string>Interval Forward</string>
			<key>icon</key>
			<string>IntervalForward</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>upnext</string>
			<key>label</key>
			<string>Up Next</string>
			<key>icon</key>
			<string>UpNext</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>share</string>
			<key>label</key>
			<string>Share</string>
			<key>icon</key>
			<string>Share</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>shuffle</string>
			<key>label</key>
			<string>Shuffle</string>
			<key>icon</key>
			<string>Shuffle</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>repeat</string>
			<key>label</key>
			<string>Repeat</string>
			<key>icon</key>
			<string>Repeat</string>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>key</key>
			<string>contextual</string>
			<key>label</key>
			<string>Contextual</string>
			<key>icon</key>
			<string>Contextual</string>
		</dict>
	</array>
	<key>volumeSlider</key>
	<true/>
</dict>
</plist>
