<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action_nil</key>
	<string>None</string>
	<key>action_heart</key>
	<string>Heart</string>
	<key>action_previoustrack</key>
	<string>Previous Track</string>
	<key>action_intervalrewind</key>
	<string>Interval Rewind</string>
	<key>action_playpause</key>
	<string>Play</string>
	<key>action_nexttrack</key>
	<string>Next Track</string>
	<key>action_intervalforward</key>
	<string>Interval Forward</string>
	<key>action_upnext</key>
	<string>Up Next</string>
	<key>action_share</key>
	<string>Share</string>
	<key>action_toggleshuffle</key>
	<string>Shuffle</string>
	<key>action_togglerepeat</key>
	<string>Repeat</string>
	<key>action_contextual</key>
	<string>Contextual</string>
	<key>action_openapp</key>
	<string>Open App</string>
	<key>action_showratings</key>
	<string>Rating</string>
	<key>action_increasevolume</key>
	<string>Increase Volume</string>
	<key>action_decreasevolume</key>
	<string>Decrease Volume</string>
	<key>action_equalizereverywhere</key>
	<string>EqualizerEverywhere</string>
</dict>
</plist>
