<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Transport Controls</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>heart_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Heart</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>skipprevious_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Skip Previous</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>play/pause_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Play/Pause</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>skipnext_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Skip Next</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>presentupnext_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ls_</string>
				<string>cc_</string>
				<string>otm_</string>
			</array>
			<key>invert_default_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Present Up Next</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>share_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Share</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>shuffle_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ls_</string>
				<string>cc_</string>
				<string>otm_</string>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Shuffle</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>repeat_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ls_</string>
				<string>cc_</string>
				<string>otm_</string>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Repeat</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>contextual_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ls_</string>
				<string>cc_</string>
				<string>otm_</string>
			</array>
			<key>invert_default_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Contextual</string>
			<key>respringRequired</key>
			<true/>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
		</dict>
	</array>
</dict>
</plist>
