<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>OVERRIDE_ME</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enabled</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Note - These settings will be applied even if Acapella is not enabled for this instance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>progressSlider_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ma_nowplaying_</string>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Progress Slider</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAcapellaPrefsListController_Transport</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>transport_</string>
			<key>label</key>
			<string>Transport Controls</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>volumeSlider_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ma_nowplaying_</string>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Volume Slider</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAcapellaPrefsListController_Actions</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Actions</string>
		</dict>
	</array>
</dict>
</plist>
