<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>UI</string>
	<key>New item</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>SWAcapellaPSListController_Enabled</string>
		<key>isController</key>
		<string>1</string>
		<key>label</key>
		<string>YEMP</string>
	</dict>
</dict>
</plist>
