<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Transport Controls</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>heart_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Heart</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>previoustrack_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Previous Track</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>intervalrewind_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Interval Rewind</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>play/pause_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Play/Pause</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>nextTrack_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Next Track</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>intervalforward_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Interval Forward</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>presentupnext_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>cc_</string>
				<string>ls_</string>
				<string>otm_</string>
				<string>auxo_</string>
			</array>
			<key>invert_default_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Present Up Next</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>share_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Share</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>shuffle_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>cc_</string>
				<string>ls_</string>
				<string>ma_mini_</string>
				<string>otm_</string>
				<string>auxo_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Shuffle</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>repeat_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>cc_</string>
				<string>ls_</string>
				<string>ma_mini_</string>
				<string>otm_</string>
				<string>auxo_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Repeat</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>contextual_enabled</string>
			<key>disable_for_keys</key>
			<array>
				<string>cc_</string>
				<string>ls_</string>
				<string>otm_</string>
				<string>auxo_</string>
			</array>
			<key>invert_default_for_keys</key>
			<array>
				<string>ma_mini_</string>
			</array>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Contextual</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
	</array>
</dict>
</plist>
