<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Gestures</string>
	<key>invalidActionValuesForBaseKey</key>
	<dict>
		<key>cc_gestures_</key>
		<array>
			<string>action_upnext</string>
			<string>action_toggleshuffle</string>
			<string>action_togglerepeat</string>
			<string>action_contextual</string>
			<string>action_showratings</string>
		</array>
		<key>ls_gestures_</key>
		<array>
			<string>action_upnext</string>
			<string>action_toggleshuffle</string>
			<string>action_togglerepeat</string>
			<string>action_contextual</string>
			<string>action_showratings</string>
			<string>action_equalizereverywhere</string>
		</array>
		<key>ma_nowplaying_gestures_</key>
		<array>
			<string>action_openapp</string>
			<string>action_equalizereverywhere</string>
		</array>
		<key>ma_mini_gestures_</key>
		<array>
			<string>action_heart</string>
			<string>action_share</string>
			<string>action_toggleshuffle</string>
			<string>action_togglerepeat</string>
			<string>action_openapp</string>
			<string>action_showratings</string>
			<string>action_increasevolume</string>
			<string>action_decreasevolume</string>
			<string>action_equalizereverywhere</string>
		</array>
		<key>otm_gestures_</key>
		<array>
			<string>action_upnext</string>
			<string>action_toggleshuffle</string>
			<string>action_togglerepeat</string>
			<string>action_contextual</string>
			<string>action_showratings</string>
			<string>action_equalizereverywhere</string>
		</array>
		<key>auxo_gestures_</key>
		<array>
			<string>action_upnext</string>
			<string>action_toggleshuffle</string>
			<string>action_togglerepeat</string>
			<string>action_contextual</string>
			<string>action_showratings</string>
			<string>action_equalizereverywhere</string>
		</array>
		<key>vertex_gestures_</key>
		<array>
			<string>action_upnext</string>
			<string>action_toggleshuffle</string>
			<string>action_togglerepeat</string>
			<string>action_contextual</string>
			<string>action_showratings</string>
			<string>action_equalizereverywhere</string>
		</array>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListController_Gestures_Finger</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>tapleft</string>
			<key>label</key>
			<string>Tap Left</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListController_Gestures_Finger</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>tapcentre</string>
			<key>label</key>
			<string>Tap Centre</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListController_Gestures_Finger</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>tapright</string>
			<key>label</key>
			<string>Tap Right</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListController_Gestures_Finger</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>swipeleft</string>
			<key>label</key>
			<string>Swipe Left</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListController_Gestures_Finger</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>swiperight</string>
			<key>label</key>
			<string>Swipe Right</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListController_Gestures_Finger</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>pressleft</string>
			<key>label</key>
			<string>Press Left</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListController_Gestures_Finger</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>presscentre</string>
			<key>label</key>
			<string>Press Centre</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListController_Gestures_Finger</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>pressright</string>
			<key>label</key>
			<string>Press Right</string>
		</dict>
	</array>
</dict>
</plist>
