Package: com.patsluth.swacapella
Name: Acapella
Depends: firmware (>= 7.1), mobilesubstrate, preferenceloader, jp.ashikase.libpackageinfo, com.patsluth.libsw (= 1.1~beta)
Conflicts:com.patsluth.swgesturemusiccontrols, org.thebigboss.gesturemusiccontrols, org.thebigboss.acapella
Architecture: iphoneos-arm
Description: Elegant, gesture based enhancements to the default iOS Music controls.
Maintainer: Pat Sluth
Author: Pat Sluth
Section: Tweaks
Icon: file:///Library/Application Support/AcapellaSupport.bundle/Icon.png
Version: 1.1~beta
Installed-Size: 700
