<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auxo_enabled</key>
	<true/>
	<key>auxo_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>auxo_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>auxo_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>auxo_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>auxo_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>auxo_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>auxo_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>auxo_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>auxo_progressslider</key>
	<true/>
	<key>auxo_transport_contextual</key>
	<true/>
	<key>auxo_transport_heart</key>
	<true/>
	<key>auxo_transport_intervalforward</key>
	<false/>
	<key>auxo_transport_intervalrewind</key>
	<false/>
	<key>auxo_transport_nexttrack</key>
	<false/>
	<key>auxo_transport_playpause</key>
	<false/>
	<key>auxo_transport_previoustrack</key>
	<false/>
	<key>auxo_transport_repeat</key>
	<true/>
	<key>auxo_transport_share</key>
	<true/>
	<key>auxo_transport_shuffle</key>
	<true/>
	<key>auxo_transport_upnext</key>
	<true/>
	<key>auxo_volumeslider</key>
	<true/>
	<key>cc_enabled</key>
	<true/>
	<key>cc_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>cc_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>cc_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>cc_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>cc_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>cc_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>cc_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>cc_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>cc_progressslider</key>
	<true/>
	<key>cc_transport_contextual</key>
	<true/>
	<key>cc_transport_heart</key>
	<true/>
	<key>cc_transport_intervalforward</key>
	<false/>
	<key>cc_transport_intervalrewind</key>
	<false/>
	<key>cc_transport_nexttrack</key>
	<false/>
	<key>cc_transport_playpause</key>
	<false/>
	<key>cc_transport_previoustrack</key>
	<false/>
	<key>cc_transport_repeat</key>
	<true/>
	<key>cc_transport_share</key>
	<true/>
	<key>cc_transport_shuffle</key>
	<true/>
	<key>cc_transport_upnext</key>
	<true/>
	<key>cc_volumeslider</key>
	<true/>
	<key>ls_enabled</key>
	<true/>
	<key>ls_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>ls_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>ls_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>ls_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>ls_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>ls_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>ls_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>ls_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>ls_progressslider</key>
	<true/>
	<key>ls_transport_contextual</key>
	<true/>
	<key>ls_transport_heart</key>
	<true/>
	<key>ls_transport_intervalforward</key>
	<false/>
	<key>ls_transport_intervalrewind</key>
	<false/>
	<key>ls_transport_nexttrack</key>
	<false/>
	<key>ls_transport_playpause</key>
	<false/>
	<key>ls_transport_previoustrack</key>
	<false/>
	<key>ls_transport_repeat</key>
	<true/>
	<key>ls_transport_share</key>
	<true/>
	<key>ls_transport_shuffle</key>
	<true/>
	<key>ls_transport_upnext</key>
	<true/>
	<key>ls_volumeslider</key>
	<true/>
	<key>musicmini_enabled</key>
	<true/>
	<key>musicmini_gestures_presscentre</key>
	<string>action_contextual</string>
	<key>musicmini_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>musicmini_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>musicmini_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>musicmini_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>musicmini_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>musicmini_gestures_tapleft</key>
	<string>action_playpause</string>
	<key>musicmini_gestures_tapright</key>
	<string>action_playpause</string>
	<key>musicmini_progressslider</key>
	<true/>
	<key>musicmini_transport_contextual</key>
	<false/>
	<key>musicmini_transport_heart</key>
	<false/>
	<key>musicmini_transport_intervalforward</key>
	<false/>
	<key>musicmini_transport_intervalrewind</key>
	<false/>
	<key>musicmini_transport_nexttrack</key>
	<false/>
	<key>musicmini_transport_playpause</key>
	<false/>
	<key>musicmini_transport_previoustrack</key>
	<false/>
	<key>musicmini_transport_repeat</key>
	<false/>
	<key>musicmini_transport_share</key>
	<false/>
	<key>musicmini_transport_shuffle</key>
	<false/>
	<key>musicmini_transport_upnext</key>
	<false/>
	<key>musicmini_volumeslider</key>
	<true/>
	<key>musicnowplaying_enabled</key>
	<true/>
	<key>musicnowplaying_gestures_presscentre</key>
	<string>action_showratings</string>
	<key>musicnowplaying_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>musicnowplaying_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>musicnowplaying_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>musicnowplaying_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>musicnowplaying_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>musicnowplaying_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>musicnowplaying_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>musicnowplaying_progressslider</key>
	<true/>
	<key>musicnowplaying_transport_contextual</key>
	<true/>
	<key>musicnowplaying_transport_heart</key>
	<true/>
	<key>musicnowplaying_transport_intervalforward</key>
	<false/>
	<key>musicnowplaying_transport_intervalrewind</key>
	<false/>
	<key>musicnowplaying_transport_nexttrack</key>
	<false/>
	<key>musicnowplaying_transport_playpause</key>
	<false/>
	<key>musicnowplaying_transport_previoustrack</key>
	<false/>
	<key>musicnowplaying_transport_repeat</key>
	<true/>
	<key>musicnowplaying_transport_share</key>
	<true/>
	<key>musicnowplaying_transport_shuffle</key>
	<true/>
	<key>musicnowplaying_transport_upnext</key>
	<true/>
	<key>musicnowplaying_volumeslider</key>
	<true/>
	<key>otm_enabled</key>
	<true/>
	<key>otm_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>otm_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>otm_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>otm_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>otm_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>otm_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>otm_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>otm_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>otm_progressslider</key>
	<true/>
	<key>otm_transport_contextual</key>
	<true/>
	<key>otm_transport_heart</key>
	<true/>
	<key>otm_transport_intervalforward</key>
	<false/>
	<key>otm_transport_intervalrewind</key>
	<false/>
	<key>otm_transport_nexttrack</key>
	<false/>
	<key>otm_transport_playpause</key>
	<false/>
	<key>otm_transport_previoustrack</key>
	<false/>
	<key>otm_transport_repeat</key>
	<true/>
	<key>otm_transport_share</key>
	<true/>
	<key>otm_transport_shuffle</key>
	<true/>
	<key>otm_transport_upnext</key>
	<true/>
	<key>otm_volumeslider</key>
	<true/>
	<key>seng_enabled</key>
	<true/>
	<key>seng_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>seng_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>seng_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>seng_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>seng_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>seng_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>seng_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>seng_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>seng_progressslider</key>
	<true/>
	<key>seng_transport_contextual</key>
	<true/>
	<key>seng_transport_heart</key>
	<true/>
	<key>seng_transport_intervalforward</key>
	<false/>
	<key>seng_transport_intervalrewind</key>
	<false/>
	<key>seng_transport_nexttrack</key>
	<false/>
	<key>seng_transport_playpause</key>
	<false/>
	<key>seng_transport_previoustrack</key>
	<false/>
	<key>seng_transport_repeat</key>
	<true/>
	<key>seng_transport_share</key>
	<true/>
	<key>seng_transport_shuffle</key>
	<true/>
	<key>seng_transport_upnext</key>
	<true/>
	<key>seng_volumeslider</key>
	<true/>
	<key>vertex_enabled</key>
	<true/>
	<key>vertex_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>vertex_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>vertex_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>vertex_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>vertex_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>vertex_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>vertex_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>vertex_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>vertex_progressslider</key>
	<true/>
	<key>vertex_transport_contextual</key>
	<true/>
	<key>vertex_transport_heart</key>
	<true/>
	<key>vertex_transport_intervalforward</key>
	<false/>
	<key>vertex_transport_intervalrewind</key>
	<false/>
	<key>vertex_transport_nexttrack</key>
	<false/>
	<key>vertex_transport_playpause</key>
	<false/>
	<key>vertex_transport_previoustrack</key>
	<false/>
	<key>vertex_transport_repeat</key>
	<true/>
	<key>vertex_transport_share</key>
	<true/>
	<key>vertex_transport_shuffle</key>
	<true/>
	<key>vertex_transport_upnext</key>
	<true/>
	<key>vertex_volumeslider</key>
	<true/>
</dict>
</plist>
