<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>3D Touch</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListItemsController_Actions</string>
			<key>titlesDataSource</key>
			<string>actionTitles:</string>
			<key>valuesDataSource</key>
			<string>actionValues:</string>
			<key>key</key>
			<string>forcenone</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>None</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListItemsController_Actions</string>
			<key>titlesDataSource</key>
			<string>actionTitles:</string>
			<key>valuesDataSource</key>
			<string>actionValues:</string>
			<key>key</key>
			<string>forcepeek</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>Peek</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SWAPSListItemsController_Actions</string>
			<key>titlesDataSource</key>
			<string>actionTitles:</string>
			<key>valuesDataSource</key>
			<string>actionValues:</string>
			<key>key</key>
			<string>forcepop</string>
			<key>enabled</key>
			<true/>
			<key>label</key>
			<string>Pop</string>
		</dict>
	</array>
</dict>
</plist>
