<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Actions</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Tap</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>leftTapAction</string>
			<key>default</key>
			<integer>10</integer>
			<key>label</key>
			<string>Left</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>centreTapAction</string>
			<key>default</key>
			<integer>1</integer>
			<key>label</key>
			<string>Centre</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>rightTapAction</string>
			<key>default</key>
			<integer>11</integer>
			<key>label</key>
			<string>Right</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Swipe</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>swipeLeftAction</string>
			<key>default</key>
			<integer>2</integer>
			<key>label</key>
			<string>Left</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>swipeRightAction</string>
			<key>default</key>
			<integer>3</integer>
			<key>label</key>
			<string>Right</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>swipeUpAction</string>
			<key>default</key>
			<integer>6</integer>
			<key>label</key>
			<string>Up</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>swipeDownAction</string>
			<key>default</key>
			<integer>7</integer>
			<key>label</key>
			<string>Down</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Press</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>leftPressAction</string>
			<key>default</key>
			<integer>4</integer>
			<key>label</key>
			<string>Left</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>centrePressAction</string>
			<key>default</key>
			<integer>9</integer>
			<key>label</key>
			<string>Centre</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>rightPressAction</string>
			<key>default</key>
			<integer>5</integer>
			<key>label</key>
			<string>Right</string>
			<key>valuesDataSource</key>
			<string>validActionValues</string>
			<key>titlesDataSource</key>
			<string>validActionTitles</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs.changed</string>
		</dict>
	</array>
</dict>
</plist>
