<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Acapella II</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Only applies to springboard instances</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>progressSlider_enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Progress Slider</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>transportControls_enabled</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Transport Controls</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>volumeSlider_enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Volume Slider</string>
			<key>defaults</key>
			<string>com.patsluth.AcapellaPrefs2</string>
			<key>PostNotification</key>
			<string>com.patsluth.AcapellaPrefs2.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Tap to play/pause</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Swipe to change track</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Hold to show rating</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created By</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SWPSTwitterCell</string>
			<key>username</key>
			<string>patsluth</string>
			<key>secondaryText</key>
			<string>Developer</string>
			<key>imagePath</key>
			<string>/Library/PreferenceBundles/AcapellaPrefs2.bundle/Developer_Twitter_Profile.jpeg</string>
			<key>action</key>
			<string>viewTwitterProfile:</string>
			<key>height</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SWPSTwitterCell</string>
			<key>username</key>
			<string>stijn_d3sign</string>
			<key>secondaryText</key>
			<string>Designer</string>
			<key>imagePath</key>
			<string>/Library/PreferenceBundles/AcapellaPrefs2.bundle/Designer_Twitter_Profile.png</string>
			<key>action</key>
			<string>viewTwitterProfile:</string>
			<key>height</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>© 2014 Pat Sluth - Sluthware</string>
		</dict>
		<dict>
			<key>key</key>
			<string>version</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>get</key>
			<string>getVersionNumberForSpecifier:</string>
			<key>label</key>
			<string>Version</string>
		</dict>
	</array>
</dict>
</plist>
